{% extends 'base2.html' %}

{% block pageTitle %}Home - Inventory Management System {% endblock %}

{% block cssLinks %}{% endblock %}

{% block content %}
<section class="showcase mt-5">
    <div class="container grid">
        <div class="showcase-text">
            <h2>Manage Your Portofolio, Stock & Sale</h2>
            <p>
                This is your blockchain portfolio. To track your purchases and your sales. 
                To view your profits and to prompt you to restock some your holdings. 
                To track your wallets and your exchanges.
                As always Hold On to Dear Life (HODL)

            </p>
        </div>
  
        <div class="showcase-image">
            <img src="/static/img/inventory.jpg" alt="inventory" style="height: 100;width: 100;">
        </div>
    </div>
  </section>

  {% endblock %}

  {% block jsLinks %} {% endblock %}