{% extends 'base2.html' %}

{% block pageTitle %}Loan Status - Inventory Management System {% endblock %}

{% block cssLinks %}{% endblock %}

{% block content %}
    <form action="{{ url_for('predict') }}" method="POST">
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

        <label for="marriage">Married:</label>
        <select id="marriage" name="marriage">
            <option value="yes">Yes</option>
            <option value="no">Not</option>
        </select>

        <label for="education">Education:</label>
        <select id="education" name="education">
            <option value="graduate">Graduate</option>
            <option value="not">Not</option>
        </select>

        <label for="selfemployed">Self Employed:</label>
        <select id="selfemployed" name="selfemployed">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>

        <label for="applicantincome">Applicant Income:</label>
        <input type="number" id="applicantincome" required="required">

        <label for="coapplicantincome">Coapplicant Income:</label>
        <input type="number" id="coapplicantincome" required="required">

        <label for="loanamount">Loan Amount:</label>
        <input type="number" id="loanamount" required="required">

        <label for="loanamountterm">Loan Amount Term (360):</label>
        <input type="number" id="loanamountterm" required="required">

        <label for="propertyarea">Property Area:</label>
        <select id="propertyarea" name="propertyarea">
            <option value="rural">Rural</option>
            <option value="urban">Urban</option>
        </select>
        
        <label for="creditHistory">Credit history (0 or 1):</label>
        <input type="number" id="creditHistory" min="1" max="5" required="required">
        
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Loan Status</button>
    </form>
    <br>
    <br>
    {{ prediction_text }}

</div>


  {% endblock %}

  {% block jsLinks %} {% endblock %}